Feature request: support public PGP keys in contacts

@fruux
Hi,

sharing and storing public PGP keys is the big show stopper in email end-to-end encryption.

The [IETF RFC 6350](https://tools.ietf.org/html/rfc6350) defines the VCard format. Section 6.8.1 explicitly lists an example how to store public PGP keys in VCards. Using the combination of public PGP keys in contacts according to [IETF RFC 6350 Section 6.8.1](https://tools.ietf.org/html/rfc6350) and regular scans for new and updated keys with [Net_DNS2](https://netdns2.com/) according to [IETF RFC 7929](https://tools.ietf.org/html/rfc7929) provides the users with all necessary means to send encrypted e-mails - even on their mobile devices via CardDAV.

The PHP-library [Net_DNS2](https://netdns2.com/) supports OpenPGPkey lookups. You can install it with [Pear](https://pear.php.net/package/Net_DNS2) or manually from [Github](https://github.com/mikepultz/netdns2). You need to include the class 'netdns2/Net/DNS2.php' (or '/usr/share/php/Net/DNS2.php' with Pear on Ubuntu) in your code. See the [code example](https://netdns2.com/documentation/examples/#Lookup_OpenPGPKey_Record).

The german email providers [Core Networks](https://www.core-networks.de/), [mail.de](https://mail.de) and [Posteo](https://posteo.de/) already publish OpenPGPkey-records. If you want to test your [Net_DNS2](https://netdns2.com/) integration you can look up the email-addresses info@core-networks.de, support@mail.de and support@posteo.de with [Net_DNS2](https://netdns2.com/). The result can be compared at [OPENPGPKEY.info](https://openpgpkey.info/)


@renne, thanks for bringing this up, so I didn't have to. ;-)

I fully second your proposal for adding support for the relevant parts of vCard to be able to store and sync public keys.

I would however not dare to bet any horses on what the infrastructure for publishing keys will look like. This is an ongoing discussion in the community. Adding a DNS record for each email address is one option, but which has seen critique. The main drawback is that whenever the MUA tries to autocomplete or otherwise validate a recipient address, it would need to make a DNS query. Yes, of course there can be local caches, but it would certainly multiply DNS traffic and server load. Hence other alternatives are being discussed which are based on HKP keyservers. These will have to be located, too of course, which may again involve the DNS system (e.g. NAPTR) records. The "weakness" of not being able to delete keys from HKP servers (as stated by RFC7929) is by design and not a flaw. The problem is the tools people use to generate their PGP keys. These tools should create useful public keys (i.e. using intermediate keys and designating revocation keys). But the tool problem can not be solved by any choice of lookup mechanism.

I would thus suggest to only add support for the relevant vCard fields, but refrain from dedicating any resources on key lookup for now.

Just my personal 2 cents anyway.

As far as I know, this is supported. Is there something specific you'd expect? What's not working?

@c-alpha
The attack on keyservers a few days ago has shown one can easily create a DDOS-attack against email-recipients by uploading faked public PGP-keys. If senders encrypt the message with wrong keys the receiver can't read them. Having a wrong key a receiver can't validate the signature of the sender. Keyservers do not authorize the uploader of a key. There is no protection against manipulation by the keyserver operators. Linus Torvalds will have to reply to a lot of emails and ask the sender to send the mails again with his real encryption key.

That's why I neither trust nor use keyservers. :-(

DANE-OpenPGPkey authorizes the public PGP-key by DNSSEC. The public PGP-key can be revoked by deleting the OpenPGPkey-record from the DNS zone.

@evert 
Baikal2 can scan for new/updated keys and add them to the contacts. That way all CardDAV-clients get the public PGP-keys automagically. ;-)


Ah that is definitely out of scope for this project. A very interesting idea nonetheless. Would love to see something like this, and would even help someone write this but I can't take it on myself.