Deleting calendar from OS X Calendar app fails

OS X 10.11.3 (15D21) / Calendar 8.0 (2092.2)
Baikal 0.3.5

When I delete a calendar from the calendar app that ships with OS X, I get the following error message in the calendar app:

> **The server responded with an error.**
> The request (CalDAVRemoveCalendarQueueableOperation) for account “baikal.domain.tld” failed.

The account remains stuck in the error state. The only way to get it working again, is to delete the CalDAV account in OS X system preferences and re-create it.

**Workaround for deleting a calendar:** quit the OS X calendar app, log into Baikal's admin console in a web browser, and delete the calendar from there. Launch calendar app again, and all's back to normal.

This behaviour was already present in Baikal 0.2.7.

It'd be useful to see the raw HTTP traffic. If Apple's Calendar software doesn't provide debug logs or anything like that, http://mitmproxy.org/ can be used.

Or: apache error log. If there's something there, it might make it a bit easier.

Unfortunately I don't have access to the server logs (simple webhosting plan). I captured the network traffic (Wireshark), but as I'm using TLS/HTTPS, apart from the handshakes for setting up the encrypted connections nothing useful seemed visible.

Here's what the logfile of my local machine running the calendar client says:

> **2016-03-08 21:38:10,718 CalendarAgent[364]:** [com.apple.calendar.store.log.caldav.coredav] [[CoreDAVPropFindTask 0x7fa0b38c1460, conn 0x7fa0b7d0fb80, request 0x7fa0b534d840] Parser failed to parse with error Error Domain=NSXMLParserErrorDomain Code=512 "(null)"]
> **2016-03-08 21:38:10,726 CalendarAgent[364]:** [com.apple.calendar.store.log.caldav.queue] [Adding [<CalDAVRemoveCalendarQueueableOperation: 0x7fa0b7877ff0; Sequence: 1808>] to failed operations.]

Peeking at Baikal's web admin reveals that the calendar was in fact deleted. It just seems that the client gets stuck in some error state.

The XML error code 512 mentioned in the first log translates to `NSXMLParserDelegateAbortedParseError` which in turn translates to "delegate aborted parse" according to Apple's documentation. Digging into Apple's example code, and some mentions on the interwebs, it seems that this "error" is generated whenever the delegate method which does the actual parsing is run in a separate thread (e.g an `NSOperation`), and that thread is terminated before the parsing completed (see e.g. the last method at the bottom of [this sample code page](https://developer.apple.com/library/ios/samplecode/SeismicXML/Listings/SeismicXML_APLParseOperation_m.html)).

This is why I recommended mitmproxy: It allows MITMing TLS connections by installing a new root CA. Similar to https://www.charlesproxy.com/, which might be easier to use, I don't know.

Ok, I have turned off TLS/HTTPS and captured a failed delete calendar attempt using Wireshark. In what format do you want the data?

>Ok, I have turned off TLS/HTTPS and captured a failed delete calendar attempt using Wireshark

I guess that's also an option... make sure to change your password :D 

>In what format do you want the data?

I don't know/care (never really used Wireshark successfully), but probably in a gist/pastebin instead of inline in this conversation.

> [...]
> I don't know/care (never really used Wireshark successfully), but probably in a gist/pastebin instead of inline in this conversation.
> [...]

These are the formats I can save as:
<img width="578" alt="screen shot 2016-03-08 at 22 27 01" src="https://cloud.githubusercontent.com/assets/2213269/13617042/04cb3600-e57d-11e5-9b10-06775ec39a1b.png">


I... probably a text file? ("K12 text file")

Attached are a text file, and a tcpdump format binary file. The latter is zipped.
[DeleteCalendarOSX.txt](https://github.com/fruux/Baikal/files/164021/DeleteCalendarOSX.txt)
[DeleteCalendarOSX.zip](https://github.com/fruux/Baikal/files/164024/DeleteCalendarOSX.zip)


I'm not sure what iCal is expecting, but I think it tries to parse the empty response body as XML. Could you capture interaction with a server where calendar deletion **doesn't** result in that error? (iCloud I suppose?)

iCloud enforces HTTPS. Baikal is the only server I use. Can't help with that I'm afraid.

Maybe console.app is giving you slightly more detailed error messages? 

There's some more debugging options documented here too:

http://sabre.io/dav/clients/ical/

I get the following console messages when I **create** a new calendar:
> **2016-03-08 23:59:14,294 CalendarAgent[364]:** [com.apple.calendar.store.log.caldav.coredav] [[CoreDAVPropFindTask 0x7fa0b7bb9580, conn 0x7fa0b5d5db90, request 0x7fa0b3ebea00] Parser failed to parse with error Error Domain=NSXMLParserErrorDomain Code=512 "(null)"]
> **2016-03-08 23:59:14,294 CalendarAgent[364]:** [com.apple.calendar.store.log.caldav.queue] [Difficulty updating free-busy metadata after adding calendar, in state: AddCalendarUpdateFreeBusySet, error: Error Domain=CoreDAVErrorDomain Code=3 "(null)"]

So the XML parsing error does not seem to be fatal.

Attached is the output from the calendar app with HTTP logging enabled when deleting a calendar:
[HTTP_Trace_Delete_Calendar.txt](https://github.com/fruux/Baikal/files/164141/HTTP_Trace_Delete_Calendar.txt)

What caught my eye (but may be normal) is the 204 response code with a `Connection: close` header.

`connection: close` is indeed normal. I believe (but I'm not sure) what's triggering your error is not the delete, but maybe it's the `PROPFIND` that follows it.

That would at least explain that you're getting an xml parsing error.

The client is doing a PROPFIND on `https://5fW25eu65m3H@tempo2.condition-alpha.com/`, and that request is probably being responded to with an html page...

What I don't know is, why is it doing that...

> [...]
> The client is doing a PROPFIND on `https://5fW25eu65m3H@tempo2.condition-alpha.com/`, and that request is probably being responded to with an html page...
> 
> What I don't know is, why is it doing that...

Um, to get the list of calendars resulting after the previous delete operation? Just guessing...

There are a lot of broken servers that don't implement collection discovery right, so sometimes the only way to work across most servers is close to brute force.

No idea why it's doing that *now* though.

You are right, the response to the PROPFIND is a "Baikal is running alright" HTML page:
<img width="810" alt="screen shot 2016-03-09 at 01 15 29" src="https://cloud.githubusercontent.com/assets/2213269/13621002/71b6c948-e594-11e5-9901-2d998ad7badb.png">


> There are a lot of broken servers that don't implement collection discovery right, so sometimes the only way to work across most servers is close to brute force.

So far my impression was that Baikal was one of the least worse? At least trying to?

> No idea why it's doing that now though.

Not sure what you're referring to with "it" and "that"? Responding with a HTML page, or sending the PROPFIND immediately after delete?

> Um, to get the list of calendars resulting after the previous delete operation? Just guessing...\

It's possible, but it's doing it at the wrong location.

> So far my impression was that Baikal was one of the least worse? At least trying to?

Correct. In fact, we pride ourselves in being one of the least worst. Great to see that people are picking up on that. /s


Could you share how you setup iCal? Are you using the automatic, manual or advanced setup, and which urls are you using?


I experimented a little more, and replaced `index.php` with a copy of `dav.php`. The result is that the server now responds with a `500` server error to the "anonymous" PROPFIND. This would seem like the logical way to react to such a request, but makes Apple's calendar app equally unhappy.
I guess the root cause is that Apple's calendar client issues a PROPFIND on `/` (i.e. the root directory) which cannot work. I guess it should have done the PROPFIND on something like `https://user@baikal.mydomain.tld/.well-known/caldav` instead? Apple's contacts and calendar apps are known to have issues with configuring and/or using generic Card-/CalDAV servers for a couple of OS X major releases now. One would imagine this were not too difficult to test and get straight? Maybe a sign of fading support for "unbranded" servers?

> [...]
> Could you share how you setup iCal? Are you using the automatic, manual or advanced setup, and which urls are you using?

I have redirects in place so that everything ends up in dav.php. Whichever flavour of entering the configuration (automatic, manual, or advanced), results are identical.

In the spirit of Postel's robustness rule (sec. 2.10 of [RFC 761](https://tools.ietf.org/html/rfc761)), would there be any server response to "tame" the calendar client issuing an anonymous PROPFIND? If you'd have the XML and some instructions on what this answer must look like, I could fiddle with rewrite rules and try out whether there is a viable workaround to keep the OS X calendar app happy.

I actually have an alternative idea... could you try enabling the scheduling plugin?

The property that iCal is requesting is `free-busy-set` which isn't standard, as it's part of an old version of the scheduling specification. I believe that iCal might fall back for certain requests to the old spec, if the server does not specifically advertise the new spec.

I haven't enabled the scheduling plugin in Baikal yet. Mostly because I just forgot it.

I'm going to go out of a limb here and assume that this problem is indeed fixed with #491. If this is incorrect, let me know!